// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.form-control{
  font-size: 10px;
}

#fileInput{
  display: none;
}

.fileblock{
  width: 100%;
  max-height: 150px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  label{
    width: 100%;
  }
}
.img-inner{
  width: 250px;
  top: 0;
  left: 0;
  text-align: center;
}
.file-label{
  padding-top: 40%;
  height: 50%;
  padding-bottom: 35%;
  text-align: center;
}
.title-chiron{
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-chiron-title{
  float: left;
  padding-right: 10px;
}
.title-chiron-link{
  float: right;
  padding-left: 10px;
}
.title-chiron-border{
  content: '';
  width: auto;
  overflow: hidden;
  border-bottom: 1px solid black;
  padding-top: 14px;
}

.profile-recipe{
  list-style: none;
  padding: 0;
  margin: 0;
  li{

  }
}

.thumb-outer{
  position: relative;
  height: 150px;
}
.thumb-inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  a {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      max-height: none;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
  }
}
.thumb-title{
  position: absolute;
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: rgba(255,255,255, .75);
  top: 0;
  right: 0;
}
.loading{
  text-align: center;
  font-size: 36px;
  height: 100px;
  padding-top: 100px;
}

.icon-refresh-animate {
  animation-name: rotateThis;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 75px;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.star-pulse-animate {
  // animation-name: pulseThis;
  // animation-duration: 2s;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
  // animation-direction: alternate;
  // font-size: 24px;
}

@keyframes pulseThis {
  from { transform: scale( 1 );   }
  to   { transform: scale( 1.2 ); }
}

.recipe-image{
  position: relative;
  .image{
    position: relative;
  }
}

.recipe-title{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  letter-spacing: 5px;
  font-size: 24px;
  color: black;
  background: rgba(255,255,255,.75);
}
.recipe-author{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: black;
  background: rgba(255,255,255,.75);
}
.recipe-details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background: rgba(255,255,255,.75);
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-top: 40px;
    &:not(:first-of-type){
      margin-left: -4px;
    }
  }
}
.recipe-label{
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
  color: rgb(125,125,125);
  text-transform: lowercase;
  padding: 0 0 10px 0;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}
.recipe-info{
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
.bottom-button{
  margin-top: 10px;
}
#footer{
  margin-top: 40px;
  height: 40px;
  background: black;
}
